<section id="about">
  <div class="page-header">
    <h2>Knowledge Base Construction</h2>
  </div>
  <div class="container">
    <div class="main-text">
      <p>Knowledge gathering, representation, and reasoning are among the fundamental challenges of artificial intelligence.  Large-scale repositories of knowledge about entities, relations, and their abstractions are known as “knowledge bases”.  Most major technology companies now have substantial efforts in knowledge base construction, and related scholarly work spans many research areas, including machine learning, natural language processing, computer vision, information integration, databases, search, data mining, knowledge representation, human computation, human-computer interfaces, and fairness.  The AKBC conference serves as a research forum for all these areas, in both academia and industry.</p>
    </div>
    <br/>

    <h2>New Conference</h2>
  
    <div class="main-text">
      <p>Nearly ten years after the first AKBC workshop in Grenoble, France, AKBC is becoming a conference.  Why a new stand-alone conference?</p>
      <ul>
	<li>Long-standing and growing interest in the area, now with too much material for a one-day workshop.  We have sufficient material for a two-day conference plus topical workshops.
	<li>We want to grow and connect the community beyond existing individual conference communities, bringing together ML, NLP, DB, IR, KRR, semantics, reasoning, common sense, QA, human computation, dialog, HCI.
	<li>We want to set our own culture, including reviewing practices, and meeting format. We have fond memories of the first AKBC 2010 in Grenoble: a two-day meeting that included an afternoon hike in the Alps with much great scientific discussion.
	<li>Why now?  Growing interest across many areas.  Disconnect among multiple relevant communities.  Growing industry and government interest.
      </ul>
    </div>
  </div>
  <br/>
</section>
