<div class="card mb-3">
    <!--div class="card-header">
        <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
        <a class="nav-link active" href="#">Bio</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Abstract</a>
        </li>
        </ul>
    </div-->
    <div class="card-body">
        <img class="card-img-top img-fluid" src="{{site.baseurl}}/images/people/{{speaker.thumbnailUrl}}" alt="Card image cap">
            <!--img src="{{site.baseurl}}/images/people/{{speaker.thumbnailUrl}}"-->

    <h4 class="card-title">Ugg Boots</h4>
    <p class="card-text">Ab</p>
    </div>
    <div class="card-footer">
    By Uuuuggghhh.com
    </div>
</div>


<!--div class="card">
<div class="card-header">
    <ul class="nav  nav-pills card-header-pill">
        <li class="nav-item">
            <a class="nav-link active" href="#">Speaker</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Abstract</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Bio</a>
        </li>
    </ul>
</div>
<img class="card-img-top" src="{{site.baseurl}}/images/people/{{speaker.thumbnailUrl}}" alt="Card image top" width="90%">
<div class="card-body">
    <div class="card-title">{{ speaker.name }} {{speaker.surname}}</div>    <div class="card-subtitle">{{ speaker.title }}</div>
</div>
</div-->

