<section id="workshops">
  <div class="container">
    <div class="main-text">
      <p>AKBC 2019 will feature a few thematic workshops where you can deep dive into a particular topic and connect with other researchers working in the same sub-area. However, rather than deciding on the topics ourseleves, we are planning to open up the topic selection process and let the community decide based on discussions and feedback. We will soon have a system here to get this process started, stay tuned!</p>
      <p>If you have any thoughts, please feel free to get with touch with Xiang (xiangren [at] usc.edu) or Partha (ppt [at] iisc.ac.in)</p>
      <br>
    </div>
  {% include disqus-comments.html %}
  </div>
</section>
