.about-details {
    img {
        width: 128px;
    }
    p {
        margin-top: 10px;
    }
}

.main-text {
    p {
        text-align: left;
    }
    li {
        text-align: left;
    }
}

.main-center-text {
    p {
        text-align: center;
    }
    li {
        text-align: center;
    }
}