<div class="card">
<div class="card-header">
    <ul class="nav  nav-pills card-header-pill">
        <li class="nav-item">
            <a class="nav-link active" href="#">Pill 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pill 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pill 3</a>
        </li>
    </ul>
</div>
<img class="card-img-top" src="https://source.unsplash.com/daily?wood" alt="Card image top">
<div class="card-body">
    <h3 class="card-title">Card title</h3>
    <h4 class="card-subtitle">Card subtitle</h4>
    <p class="card-text">You can add navigation (navigation and pills) to card header</p>
</div>
</div>

