<section id="dates">
  <div class="page-header">
    <h2>Key Dates</h2>
  </div>
  <div class="container">
    <div class="main-center-text">
      <p><strong>November 16, 2018, Friday: Conference paper submissions due (Midnight PST)</strong></p>
      <p>January 11, Friday: Workshop topics announced</p>
      <p>February 15, 2019, Friday: Conference notification</p>
      <p>May 20-21, 2019, Monday-Tuesday: Conference, UMass Amherst</p>
      <p>May 22, 2019, Wednesday: Workshops, UMass Amherst</p>
      <br/>
    </div>
<!--       <p> -->
<!-- 	<ul> -->
<!-- 	  <li>November 16, 2018, Friday: Conference paper submissions due -->
<!-- 	  <li>January 11, Friday: Workshop topics announced -->
<!-- 	  <li>February 15, 2019, Friday: Conference notification -->
<!-- 	  <li>May 20-21, 2019, Monday-Tuesday: Conference, UMass Amherst -->
<!-- 	  <li>May 22, 2019, Wednesday: Workshops, UMass Amherst -->
<!-- 	</ul> -->
<!--       </p> -->
<!--       <br> -->
<!--     </div> -->
  </div>
</section>
