<section id="org">
  <div class="container">
    <div class="main-center-text">
      <p>General Chair,	<a href="https://people.cs.umass.edu/~mccallum/">Andrew McCallum</a>, University of Massachusetts Amherst, USA<br/><br/></p>
      <p>Program Co-chair,	<a href="http://isabelleaugenstein.github.io/">Isabelle Augenstein</a>, University of Copenhagen, Denmark</p>
      <p>Program Co-chair,	<a href="http://sameersingh.org/">Sameer Singh</a>, University of California Irvine, USA<br/><br/></p>
      <p>Workshop Co-chair,	<a href="http://www-bcf.usc.edu/~xiangren/">Xiang Ren</a>, USC, USA</p>
      <p>Workshop Co-chair,	<a href="http://talukdar.net/">Partha Pratim Talukdar</a>, IISc, Bangalore<br/><br/></p>
      <p>Funding Chair,	<a href="http://www.riedelcastro.org/">Sebastian Riedel</a>, University College London, UK<br/><br/></p>
      <p>Local Co-chair,	<a href="https://akobre01.github.io/">Ari Kobren</a>, University of Massachusetts Amherst, USA</p>
      <p>Local Co-chair,	<a href="https://people.cs.umass.edu/~nmonath/">Nicholas Monath</a>, University of Massachusetts Amherst, USA</p>
      For any questions, please e-mail <a href="mailto:info@akbc.ws">info@akbc.ws</a>.
    </div>
    <br/>
    <div class="main-center-text">
      <h3>Area Chairs</h3>
      <p>Tim Rocktäschel</p>
      <p>Luke Zettlemoyer</p>
      <p>Siva Reddy</p>
      <p>Matt Gardner</p>
      <p>Hannaneh Hajishirzi</p>
      <p>Sunita Sarawagi</p>
      <p>Michael Cafarella</p>
      <p>Paul Groth</p>
      <p>Roman Klinger</p>
      <p>Michael Wick</p>
      <p>Max Nickel</p>
      <p>Jay Pujara</p>
      <p>Kai-Wei Chang</p>
      <p>Lora Aroyo</p>
    </div>
  </div>
</section>
