<section id="prev">
  <div class="page-header">
    <h2>Previous Workshops</h2>
  </div>
  <div class="container">
    <div class="main-center-text">
      <ul>
	<p><a href="http://akbc.ws/2017">AKBC 2017</a> at NIPS 2017, Long Beach</p>
	<p><a href="http://akbc.ws/2016">AKBC 2016</a> at NAACL 2016, San Diego</p>
	<p><a href="http://akbc.ws/2014">AKBC 2014</a> at NIPS 2014, Montreal</p>
	<p><a href="http://akbc.ws/2013">AKBC 2013</a> at CIKM 2013, San Francisco</p>
	<p><a href="http://akbcwekex2012.wordpress.com/">AKBC-WEKEX 2012</a> at NAACL 2012, Montreal</p>
	<p><a href="http://videolectures.net/akbc2010_grenoble/">AKBC 2010</a> in Grenoble</p>
      </ul>
    </div>
  </div>
</section>
