<section id="speakers">
  <div class="page-header">
    <h2>Invited Speakers</h2>
  </div>
  <div class="container">
    <div class="main-center-text">
      <p><a href="https://allenai.org/team/waleeda/">Waleed Ammar</a> (AI2)</p>
      <p><a href="https://cs.stanford.edu/~danqi/">Danqi Chen</a> (Stanford/Princeton)</p>
      <p><a href="https://homes.cs.washington.edu/~yejin/">Yejin Choi</a> (UW, AI2)</p>
      <p><a href="http://www.cs.unh.edu/~dietz/">Laura Dietz</a> (UNH)</p>
      <p><a href="https://getoor.soe.ucsc.edu/home">Lise Getoor</a> (UCSC)</p>
      <p><a href="https://people.cs.umass.edu/~ameli/">Alexandra Meliou</a> (UMass)</p>
      <p><a href="http://nakashole.com/">Ndapa Nakashole</a> (UCSD)</p>
      <p><a href="https://ai.google/research/people/author1092">Fernando Pereira</a> (Google)</p>
      <p><a href="https://www.microsoft.com/en-us/research/people/hoifung/">Hoifung Poon</a> (MSR)</p>
      <p><a href="https://cs.stanford.edu/people/chrismre/">Chris Re</a> (Stanford and Apple)</p>
      <p><a href="http://www.riedelcastro.org/">Sebastian Riedel</a> (UCL and Facebook)</p>
      <p><a href="http://web.cs.ucla.edu/~guyvdb/">Guy Van den Broeck</a> (UCLA)</p>
      <p><a href="http://www.claudiawagner.info/">Claudia Wagner</a> (Leibniz Institute for Social Sciences)</p>
      <p><a href="https://ai.google/research/people/104789">Chris Welty</a> (Google)</p>


<!--       <table class="table table-hover"> -->
<!-- 	<tr><td><a href="https://allenai.org/team/waleeda/">Waleed Ammar</a> (AI2)</td></tr> -->
<!-- 	<tr><td><a href="https://cs.stanford.edu/~danqi/">Danqi Chen</a> (Stanford/Princeton)</td></tr> -->
<!-- 	<tr><td><a href="https://homes.cs.washington.edu/~yejin/">Yejin Choi</a> (UW, AI2)</td></tr> -->
<!-- 	<tr><td><a href="http://www.cs.unh.edu/~dietz/">Laura Dietz</a> (UNH)</td></tr> -->
<!-- 	<tr><td><a href="https://getoor.soe.ucsc.edu/home">Lise Getoor</a> (UCSC)</td></tr> -->
<!-- 	<tr><td><a href="https://people.cs.umass.edu/~ameli/">Alexandra Meliou</a> (UMass)</td></tr> -->
<!-- 	<tr><td><a href="http://nakashole.com/">Ndapa Nakashole</a> (UCSD)</td></tr> -->
<!-- 	<tr><td><a href="https://ai.google/research/people/author1092">Fernando Pereira</a> (Google)</td></tr> -->
<!-- 	<tr><td><a href="https://www.microsoft.com/en-us/research/people/hoifung/">Hoifung Poon</a> (MSR)</td></tr> -->
<!-- 	<tr><td><a href="https://cs.stanford.edu/people/chrismre/">Chris Re</a> (Stanford and Apple)</td></tr> -->
<!-- 	<tr><td><a href="http://www.riedelcastro.org/">Sebastian Riedel</a> (UCL and Facebook)</td></tr> -->
<!-- 	<tr><td><a href="http://web.cs.ucla.edu/~guyvdb/">Guy Van den Broeck</a> (UCLA)</td></tr> -->
<!-- 	<tr><td><a href="http://www.claudiawagner.info/">Claudia Wagner</a> (Leibniz Institute for Social Sciences)</td></tr> -->
<!-- 	<tr><td><a href="https://ai.google/research/people/104789">Chris Welty</a> (Google)</td></tr> -->
<!--       </table> -->
    </div>
  </div>
  <br>
</section>
